body{
    color:white;
    background-image: image-set(url(Hogwarts.jpg));
    text-align: center;
    

}

h2{
    color: red;
}

h3{
    color: darkblue;
}

main h2{
    color: yellow;
}